.city-container {
    position: relative;
    height: 1200px;
}

.city-title {
    padding-top: 50px;
    font-family: 'Kaisei Opti';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0.2em;
    color: #D5FF37;
    display: block;
}

.city-text {
    width: 43%;
    font-family: 'Kaisei Opti';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 0.15em;
    color: #E6E6E6;
    margin-left: 155px;
    margin-top: 100px;
    position: relative;
    z-index: 1;
}

.map {
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    width: 1000px;
}